[user]
	name = Josh Vince
	email = joshmvince@gmail.com
[credential]
	helper = osxkeychain
[commit]
	template = ~/.gitmessage.txt
[push]
	autoSetupRemote = true
[pull]
	rebase = false
[init]
	defaultBranch = main
[config]
	autosquash = true
[rebase]
	autosquash = true
[core]
	excludesfile = ~/.gitignore_global
